# Filtering and Sorting

In [1]:
import pandas as pd

In [2]:
Euro = pd.read_csv('A:\PythonPandas\Euro_2012_stats_TEAM.csv')

In [3]:
Euro

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

### Perform Initial Analysis

The data set is about Euro 2012 world cup. There are 16 rows and 35 column. The strongest team we can say is spain from the dataset. .info() will show the number of dtype.

In [ ]:
Euro.info()

### 1] How many teams participated?

In [ ]:
Euro.Team.unique()

In [ ]:
Euro.Team.nunique()

### 2] View the dataset with Team, yellow card & red card.

In [ ]:
Euro[['Team','Yellow Cards','Red Cards']]

### 3] Sort the Teams by red cards

In [ ]:
Euro[['Team','Red Cards']].sort_values(by = 'Red Cards', ascending=False)

### 4] On an average, a Team getting how many yellow cards?

In [ ]:
round(Euro[['Team','Yellow Cards']].mean())

### 5] Filter the teams who scored more than 5 goals

In [ ]:
Euro[Euro['Goals']>5]

### 6] Get the team names starting with letter 'G'.

In [ ]:
Euro[Euro.Team.str.startswith('G')] #bcoz team is a object type and their is no function in object convert to string and apply

### 7] Get the first 10  rows of first 5 column

In [ ]:
Euro.iloc[0:10, 0:5]
# iloc = index locator [row start : end row , column start : end column]

### 8] Get top 15 records of team , Shoooting accuracy, Goals.

In [ ]:
Euro[['Team', 'Shooting Accuracy', 'Goals']].iloc[0:15,]

In [ ]:
Euro.iloc[:15, [0,4,1]]

In [ ]:
for index in enumerate(Euro):
    print(index)

In [ ]:
# loc = locator we cannot pass index number for column in loc
Euro.loc[0:15, ['Team', 'Shooting Accuracy','Goals']]

### 9] To find shooting accuracy of spain, denmark, croatia

In [ ]:
Euro = Euro.set_index('Team') # we have to set up the index or executing the below line will give error of index

In [ ]:
Euro.loc[['Croatia','Denmark','Spain'], ['Shooting Accuracy']]

# =============================================================

In [4]:
Order = pd.read_csv('A:/PythonPandas/data.tsv.txt', sep='\t')

In [ ]:
Order

### 1] Clean the item price and make it float

In [5]:
Order['item_price'] = Order.item_price.str.replace('$','').astype(float)

<ipython-input-5-e33b180337dc>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  Order['item_price'] = Order.item_price.str.replace('$','').astype(float)

In [ ]:
# deleting column
# del Order['quantity']

In [6]:
Order

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [ ]:
Order.drop(['order_id', 'item_price'], axis=1, inplace=False) #if inplace = true it will get deleted from main file

### 2] Get the Chicken Salad Bow details

In [ ]:
Bowl = Order[Order['item_name']=='Chicken Salad Bowl']
Bowl

### 3] Select the details where chicken salad bowl quantity is 2

In [ ]:
Bowl[Bowl['quantity']== 2]

In [ ]:
Order[(Order['item_name']== 'Chicken Salad Bowl') & (Order['quantity']==2)]

### 3] Display the items from most expensive to least expensive

In [ ]:
Order.item_name.value_counts()

In [7]:
Order[['item_name', 'item_price']].sort_values(by= 'item_price', ascending=False)

                         item_name  item_price
3598  Chips and Fresh Tomato Salsa       44.25
3480                 Carnitas Bowl       35.25
1254               Chicken Burrito       35.00
3602               Chicken Burrito       35.00
3601                Veggie Burrito       33.75
...                            ...         ...
3936                   Canned Soda        1.09
2922                 Bottled Water        1.09
1396                   Canned Soda        1.09
2562                   Canned Soda        1.09
1457                   Canned Soda        1.09

[4622 rows x 2 columns]

In [ ]:
# to drop the duplicate 
Order_Detail = Order[['item_name', 'item_price']]

In [ ]:
Order

In [ ]:
Order.item_price.max()